header {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background: white;
    border-bottom: 1px solid rgb(211, 211, 211);
    position: fixed;
    width: 100%;
    h1 {
        font-size: 2.5rem;
        font-family: var(--font-family);
        font-size: 600;
        margin-top: 20px;
        margin-bottom: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    nav {
        font-family: var(--font-family);
        font-size: 1.2rem;
        display: flex;
        gap: 20px;
        color: rgb(75, 75, 75);
        justify-content: center;
        align-items: center;
    }
}
@media (min-width:700px) {
    header h1 {
        font-size: 2.7rem;
        justify-content: center;
        align-items: center;
    }
    header nav {
        width: 100%;
        justify-content: space-between;
        padding: 10px;
    }
}
@media (min-width: 1250px) {
    header {
        display: flex;
        justify-content: space-between;
        height: 80px;
        align-content: center;
        flex-direction: row;
    }
    header h1 {
        justify-content: start;
        margin: 0;
        line-height: 40px;
        gap: 40px;
    }
    header nav {
        justify-content: end;
        line-height: 40px;
        gap: 40px;
    }
}
