.section {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
    margin-bottom: 30px;
    margin-left: 30px;
    margin-right: 30px;
    img {
        width: 100%;
    }
    .card {
        padding: 20px;
        border: 1px solid rgb(211, 211, 211);
        h4 {
            font-family: var(--font-family);
            margin-top: 10px;
            font-size: 1.3rem;
            margin-bottom: 7.5px;
            font-weight: 600;
        }
        p {
            font-family: var(--font-family);
            font-size: 1.1rem;
            font-weight: 500;
        }
    }
}
@media (min-width: 700px) {
    .section {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 25px;
    }
}
@media(min-width: 1250px) {
    .section {
        grid-template-columns: repeat(3, 1fr);
    }
}