.box {
    height: 150px;
    border: 4px solid;
    padding: 20px;
    margin: 20px;
}

/* background-color */
.bg-color {
    background-color: #344459;
}

/* background-clip : 범위 */
.clip {
    background-color: orange;
    border: 8px dashed;
}
.content-box {
    background-clip: content-box;
}
.padding-box {
    background-clip: padding-box;
}
.border-box {
 /* 기본값 */
background-clip: border-box;
}

/* background-image */
.bg-image {
    background-image: url(../assets/hui.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

/*background-gradient */
.bg-gradient {
    background: linear-gradient(135deg, red, blue);
}
.bg-radial {
    background: radial-gradient(circle, yellow, green);
}