.box {
    background: lightblue;
    border: 2px solid;
    margin: 10px;
}
.fixed {
    width: 200px;
    height: 100px;
}
.parent {
 height: 200px;
    background: lightgray;
    /* 부모 높이가 정해져 있찌 않으면 %height는 작동하지 않음 */
}
.percent {
    width: 75%;
    height: 50%;
}

/* padding, margin */
.space {
    background: lightgreen;
    border: 1px solid;
    margin-bottom: 10px;
}
#padding1 {
    padding: 20px;
}
#padding2 {
    padding-top: 30px;
    padding-left: 10px;
    padding-right: 50px;
    padding-bottom: 40px;
}
/*top, right, bottom, left (4개일때) */
/* top, right/left, bottom (3개일때) */
/* top/bottom, right/left (2개일댸) */
#margin1 {
    margin: 20px;
}
#margin2 {
    margin: 60px, 50px, 60px, 30px;
}
#margin3 {
    width: 200px;
    margin: auto;
}

/*border */
.border {
    background: #eeeeee;
    width: 100px;
    height: 100px;
}
/* 테두리 굵기, 스타일, 색상 */
#border1 {
    border: 5px solid green;
    /* solid : 실선, dashed : 점선, dotted : 점선 */
}
#border2 {
    border: 5px solid green;
    border-radius: 15px;
}
#border3 {
    border: 5px solid orange;
    border-radius: 50%;
}

/* box-sizing */
.box-sizing {
    width: 300px;
    height: 200px;
    background: lightcoral;
    margin: 10px;
    border: solid 10px darkred;
    padding: 20px;
}
.box-content {
    box-sizing: content-box; /* 기본값(content-box는 width, height에 padding, border 포함하지 않음) */
}
.box-border {
    box-sizing: border-box; /* width, height에 padding, border 포함 */
}

.display {
    background: lightyellow;
    width: 150px;
    height: 80px;
    margin: 5px;
}
.display-inline {
    /* inline 요소는 width, height 속성이 적용되지 않음 */
    /* inline-block은 width, height 속성이 적용됨 */
    display: inline-block;
}
.display-block {
    display: block;
}
/* float, clear */
.float {
    /* left or right */
    float: right;
    width: 80px;
    height: 80px;
    background: lightpink;
    margin: 5px;
    text-align: center;
    line-height: 80px;
}
/* position */
.outer {
    background: lightgray;
    width: 400px;
    height: 300px;
    position: relative;
    overflow: auto;
}
.position-box {
    width: 100px;
    height: 100px;
}
.relative {
    background: orange;
    position: relative;
    top: 20px;
    left: 20px;
    /* 이 친구는 자기자신 포지션 기준으로 움직임 (-를 넣으면 해당 방향에 반대로 작동) */
}
.absolute {
    background: green;
    position: absolute;
    z-index: 2;
    bottom: 40px;
    right: 40px;
    /* absolute는 부모기준의 포지션(부모는 relative를 넣어 주면 인식함. 안핤시 전체 페이지 기준으로 작동) */
}
.fixed-p {
    position: fixed;
    background: red;
    top: 20px;
    right: 20px;
    z-index: 3;
}
.sticky {
    background: blue;
    position: sticky;
    top: 20px;
}

/* hidden vs none */
.vd {
    width: 100px;
    height: 100px;
    background: gray;
    margin: 10px;
    display: inline-block;
}
.hidden {
    /* 보이진 않지만 있떤 자리는 그대로 있음 */
    visibility: hidden;
}
.none {
    /* 이 친구는 가죽하나 남기지 않음 */
    display: none;
}