/* 배경 마진 */
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(120deg, orange, rgb(228, 5, 72));
}
.profile-card {
    width: 300px;
    padding: 40px 20px;
    border: 5px solid rgba(225, 255, 255, 1);
    border-radius: 15px;
    text-align: center;
    color: white;
}
/* 프로필 이미지 원형 */
.image-wrapper {
    width: 130px;
    height: 130px;
    margin: 0 auto 20px;
    border-radius: 50p;
    overflow: hidden;
    border: 3px soild white;
}
.image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.profile-imge {
    background-image: url(../asset/panda.png);
    background-size: cover;
    background-position: center;
}
/* 버튼 공통 스타일 */
.link-group {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.btn {
    display: block;
    padding: 13px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
}

/* GitHub 버튼: 흰색 배경 */
.btn-github {
    background-color: white;
    color: #333;
}
.btn-instagram {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1.5px solid white;
    color: white;
}

.profile-card a:last-of-type {
    background: rgba(255, 255, 255, 0.1);
}
.btn:hover {
    opacity: 0.8;
}