.header-box {
    position: sticky;
    top: 0;
    height: 60px;
    background: white;
    padding: 0 24px;
    display: flex;
    align-content: center;
    justify-content: space-between;
}
.LOGO {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 25px;
    align-content: center;
}
.nav {
    margin-left: 16px;
    align-content: center;
}
.nav a {
    margin-left: 16px;
    color: black;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
.page1 {
    height: 910px;
    background: rgb(255, 78, 78);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hd1 {
    font-size: 30px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
    color: white;
}
.sc {
    text-align: center;
    font-size: 20px;
    width: 1000px;
    color: white;
}
.page2 {
    height: 910px;
    background: rgb(0, 167, 36);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hd2 {
    font-size: 30px;
    font-weight: 600x;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
    color: wheat;
}
.page3 {
    height: 910px;
    background: rgb(42, 127, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hd3 {
    font-size: 30px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
    color: white;
}
.MTT-box {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 55px;
    border-radius: 50%;
    background: black;
    display: flex;
    justify-content: center;
}
.MTT-box a {
    margin: auto;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    line-height: 55px;
}