root {
    --header-width: 250px;
}
header {
    color: white;
    text-align: center;
    position: fixed;
    background: skyblue;
    width: 250px;
    height: 100vh;
    background-blend-mode: color;
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url(./assets/bg.jpg);
    background-size: cover;
    background-position: center;
}
header h1 {
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    font-size: 2.4rem;
    font-weight: bold;
    padding-bottom: 3px;
    border-bottom: 1px soild white;
    width: 130px;
    margin-top: 30px;
}
header nav {
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    gap: 20px;
}
.content {
    padding: 20px;
    padding-left: 270px;
    font-size: 24px;
    width: 100%;
}
.content h2 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 15px;
}
.content img {
    width: 100%;
    max-width: 500px;
    display: block;
    margin: auto;
    margin-bottom: 15px;
}
.content p {
    line-height: 1.2;
}
.card-li {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
}
.card-li .card {
    background: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 20px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.card h3 {
    margin-bottom: 8px;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 400;
}
.card p {
    font-size: 1.1rem;
    font-weight: 500;
}