.header {
    width: 250px;
    height: 100%;
    background-image: url(./assets/bg.jpg);
    background-size: cover;
    background-position: center;
    position: fixed;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 500px;
}
.header::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
}
.header > * {
    position: relative;
}
.header h1 {
    text-decoration: underline;
    color: white;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    margin-top: 30px;
}
.header p {
    display: flex;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    line-height: 50px;
}
.gird {
    grid-template-columns: 250px 1fr;
}
.main {
    padding-left: 250px;
    background: white;
    height: 100vh;
}
h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: 400;
    padding: 10px;
}
.coni {
    width: min(550px, 100%);
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}
.mc1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 25px;
}
.cards {
    display: grid;
    background: #ffffff;
    gap: 10px;
    padding: 10px;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}
.card {
    background: rgb(0, 0, 0);
    color: white;
    display: flex;
    padding: 15px;
    flex-direction: column;
    height: 100px;
    border-radius: 15px;
}
.c1 h3 {
    display: flex;
    justify-content: center;
}
.c1 p {
    display: flex;
    font-size: large;
    font-weight: 500;
    justify-content: space-between;
    margin-top: auto;
}
.c2 h3 {
    display: flex;
    justify-content: center;
}
.c2 p {
    display: flex;
    font-size: large;
    font-weight: 500;
    justify-content: space-between;
    margin-top: auto;
}
.c3 h3 {
    display: flex;
    justify-content: center;
}
.c3 p {
    display: flex;
    font-size: large;
    font-weight: 500;
    justify-content: space-between;
    margin-top: auto;
}