header {
    background: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    padding: 15px;
    position: fixed;
    width: 100%;
}
header h1 {
    font-size: 2rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
header nav {
    display: flex;
    align-items: center;
    gap: 10px;
}
header nav a {
    font-family: Arial, Helvetica, sans-serif;
    padding: 7px;
    border-radius: 7px;
}

header nav a:hover {
    background: black;
    color: white;
}
section {
    padding-top: 62px;
    background: #ff6666;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
}
section h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
}
section p {
    width: 75%;
    text-align: center;
    line-height: 1.4;
    font-size: 1.2rem;
}
#st2 {
    background: #5658da;
}
#st3 {
    background: rgb(101, 206, 101);
}
.top {
    position: fixed;
    right: 10px;
    bottom: 10px;
    background: black;
    color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}