// % : placeholder
%btn {
    border: 2px dashed;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    margin: 10px;
}
.success {
    @extend %btn;
    background-color: seagreen;
    color: white;
}
.warning {
    @extend %btn;
    background-color: rgb(245,245,35);
    color: rgb(0, 0, 0);
}
.error {
    @extend %btn;
    background-color: rgb(226, 26, 26);
    color: white;
}