.btn {
    box-sizing: border-box;
    border: 2px solid #333;
    font-size: 1rem;
    background-color: black;
    color: white;
    display: inline-block;
    padding: 5px 10px;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
    line-height: 1.3;
    transition: all 1.2s;
}
.btn:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    transform: none;
}
.btn--warn {
    background-color: indianred;
    border-color: indianred;
}
.btn--div {
    background-color: blue;
    border-color: blue;
}
.btn--ghost {
    background: transparent;
    border: 2px dashed;
    color: #999;
}